SET_MIXER=1
# BEEP=0
# DEVICE=1
# SPEAKER_VOLUME=40
# CAPTURE_VOLUME=80
# WAITER=1
# LOGLEVEL=INFO
# THRESHOLD=0.8
# PLOT=0
# THRESHOLD_ON=0.9
# THRESHOLD_OFF=1.4
# FREQ_RANGE_LOW=90
# FREQ_RANGE_HIGH=120